<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Aplicación</title>
  <link rel="stylesheet" href="/styles.css">
</head>
<body>
  <!-- Incluir el navbar -->
  <%- include('partials/navbar') %> <!-- Corregir aquí -->
    
    <!-- Mostrar el mensaje si existe -->
    <% if (message) { %>
        <div class="alert">
          <p><%= message %></p>
        </div>
      <% } %>

  <% if (user) { %>
    <h2>Usuario creado:</h2>
    <p>ID: <%= user.id %></p>
    <p>Usuario: <%= user.usuario %></p>
    <p>Contraseña: <%= user.pass %></p>
  <% } %>

  <h1>Bienvenido a la página principal</h1>
  <p>Aquí va el contenido principal de la página.</p>
</body>
</html>
